<!-- about bottom -->
<section class="aboutbottom-grids pt-5 container-fluid">
	<div class="row">
		<div class="col-lg-6 aboutleft">
			<img src="{% static 'images/about1.jpg' %}" alt="" class="img-fluid"/>
		</div>
		<div class="col-lg-6 p-sm-5 p-3 aboutright">
			<h3 class="mb-3">Checkout Our Cafe In Video</h3>
			<p class="mb-2">Maecenas ac euismod eros. Aliquam a suscipit nibh. Aliquam iaculis erat porta mauris fermentum lacinia. Donec posuere a massa sit amet sagittis. Nam ut nulla a ligula dictum imperdiet nec ut mauris.</p>
			<iframe src="https://www.youtube.com/embed/oItKNweXhXQ" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
		</div>
	</div>
</section>
<!-- //about bottom -->
<!-- /stats -->
<section class="stats_test pb-5 container-fluid">
	<div class="row inner_stat_wthree_agileits">
		<div class="col-sm-3 col-6 py-5 stats_left counter_grid">
			<i class="far fa-building"></i>
			<p class="counter">145</p>
			<h4>Branches</h4>
		</div>
		<div class="col-sm-3 col-6 py-5 stats_left counter_grid1">
			<i class="fas fa-users"></i>
			<p class="counter">165</p>
			<h4>Qualified Chefs</h4>
		</div>
		<div class="col-sm-3 col-6 py-5 stats_left counter_grid2">
			<i class="far fa-edit"></i>
			<p class="counter">563</p>
			<h4>Food Items</h4>
		</div>
		<div class="col-sm-3 col-6 py-5 stats_left counter_grid3">
			<i class="far fa-smile"></i>
			<p class="counter">1045</p>
			<h4>Happy Customers</h4>
		</div>
	</div>
</section>
<!-- //stats -->