<!-- How we Work -->
<section class="work py-5">
	<div class="container">
	<h3 class="heading text-center text-uppercase mb-5"> How We Work </h3>
		<div class="row">
			<div class="col-lg-3 col-sm-6 grid1">
				<img src="images/1.png" alt="" class="img-fluid mb-3">
				<h3 class="my-2">Spicy & Delicious</h3>
				<p class="">Maecenas ac euismod eros porta. Aliquam a suscipit nibh. Aliquam iaculis erat porta mauris.</p>
				<p></p>
			</div>
			<div class="col-lg-3 col-sm-6 grid1">
				<img src="images/2.png" alt="" class="img-fluid mb-3">
				<h3 class="my-2">Healthy Food</h3>
				<p class="">Maecenas ac euismod eros porta. Aliquam a suscipit nibh. Aliquam iaculis erat porta mauris.</p>
				<p></p>
			</div>
			<div class="col-lg-3 col-sm-6 mt-lg-0 mt-sm-5 grid1">
				<img src="images/3.png" alt="" class="img-fluid mb-3">
				<h3 class="my-2">Home Delivery</h3>
				<p class="">Maecenas ac euismod eros porta. Aliquam a suscipit nibh. Aliquam iaculis erat porta mauris.</p>
				<p></p>
			</div>
			<div class="col-lg-3 col-sm-6 mt-lg-0 mt-sm-5 grid2">
				<img src="images/aa.jpg" alt="" class="img-fluid">
			</div>
		</div>
	</div>
</section>
<!-- //How we Work -->